.story-container {
  @apply max-w-screen-md mx-auto px-4 lg:px-1 mb-16;
}

.prose {
  @apply max-w-none focus:outline-none font-story-serif;
  @apply prose-figcaption:text-center;
  @apply prose-img:my-0;
  @apply prose-headings:font-story-sans
}

.tiptap {
  p.is-editor-empty:first-child::before,
  h2.is-editor-empty:first-child::before {
    @apply text-gray-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-editor-empty.placeholder-hidden:first-child::before {
    content: none;
  }
}

.ProseMirror-focused {
  p.is-editor-empty:first-child::before {
    @apply content-none lg:content-[attr(data-placeholder)];
  }
}