.story-container {
  @apply max-w-screen-lg mx-auto p-1 lg:p-0.5 mb-16;
}

.prose {
  @apply max-w-none focus:outline-none;
  @apply prose-figcaption:text-center;
  @apply prose-img:my-0;
}

.tiptap {
  p.is-editor-empty:first-child::before,
  h2.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

div[contenteditable='true'] .ProseMirror-selectednode figure {
  @apply outline outline-offset-2 outline-2 outline-emerald-500;
}
